.container {
    display: flex;
    gap: 20px;
    
    width: 100%;
    /* height: 200px; */
    padding: 10px;

    border: 1px solid gray;
    border-radius: 20px;
    background-color: #1b1818cd;
}

.container * {
    background-color: transparent;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    padding: 10px;
    /* padding-right: 20px; */
    border-right: 1px solid #80808075; 
}

.card:last-child {
    border-right: none;
}

img {
    width: 40px;
    justify-content: center;
}

/* MOBILE */
@media (max-width: 768px) {
    .container {
        gap: 0;

        width: 100%;
        /* height: auto; */
    }
}