.layout {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.middle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;

    width: 100%;
    /* padding: 20px; */
}

.days {
    flex-shrink: 0;
}

.hourly {
    width: 100%;
}

/* MOBILE */
@media (max-width: 880px) {
    .layout {
        display: grid;
        grid-template-areas: 
            "header"
            "weather"
            "hourly"
            "days";
        gap: 20px;
        padding: 10px;
    }

    .top {
        grid-area: header;
    }

    .middle {
        display: contents;
    }

    .hourly {
        grid-area: hourly;
    }

    .days {
        grid-area: days;
        width: 100%;
    }
}